In [31]:
import pandas as pd
import numpy as np

In [32]:
data = 'car_fuel_efficiency.csv'
df = pd.read_csv(data)
df.shape

(9704, 11)

In [33]:
df.columns

Index(['engine_displacement', 'num_cylinders', 'horsepower', 'vehicle_weight',
       'acceleration', 'model_year', 'origin', 'fuel_type', 'drivetrain',
       'num_doors', 'fuel_efficiency_mpg'],
      dtype='object')

In [34]:
df.fuel_type.unique()

array(['Gasoline', 'Diesel'], dtype=object)

In [35]:
df.origin.unique()

array(['Europe', 'USA', 'Asia'], dtype=object)

In [36]:
df[df.origin == 'Asia'].fuel_efficiency_mpg.max()

23.759122836520497

In [37]:
missing_columns = df.isnull().any().sum()

print(f"Number of columns with missing values: {missing_columns}")

Number of columns with missing values: 4

In [38]:
cols_with_missing = df.columns[df.isnull().any()].tolist()
print("Columns with missing values:", cols_with_missing)

Columns with missing values: ['num_cylinders', 'horsepower', 'acceleration', 'num_doors']

1. Find the median value of `horsepower` column in the dataset.
2. Next, calculate the most frequent value of the same `horsepower` column.
3. Use `fillna` method to fill the missing values in `horsepower` column with the most frequent value from the previous step.
4. Now, calculate the median value of `horsepower` once again.

Has it changed?

In [16]:
df.horsepower

0       159.0
1        97.0
2        78.0
3         NaN
4       140.0
        ...
9699    164.0
9700    154.0
9701    138.0
9702    177.0
9703    140.0
Name: horsepower, Length: 9704, dtype: float64

In [7]:
df.horsepower.median()

149.0

In [17]:
mode = df.horsepower.mode()[0]
mode

np.float64(152.0)

In [18]:
df.horsepower.fillna(mode, inplace=True)

In [19]:
df.horsepower

0       159.0
1        97.0
2        78.0
3       152.0
4       140.0
        ...
9699    164.0
9700    154.0
9701    138.0
9702    177.0
9703    140.0
Name: horsepower, Length: 9704, dtype: float64

In [20]:
df.horsepower.median()

152.0

1. Select all the cars from Asia
2. Select only columns `vehicle_weight` and `model_year`
3. Select the first 7 values
4. Get the underlying NumPy array. Let's call it `X`.
5. Compute matrix-matrix multiplication between the transpose of `X` and `X`. To get the transpose, use `X.T`. Let's call the result `XTX`.
6. Invert `XTX`.
7. Create an array `y` with values `[1100, 1300, 800, 900, 1000, 1100, 1200]`.
8. Multiply the inverse of `XTX` with the transpose of `X`, and then multiply the result by `y`. Call the result `w`.
9. What's the sum of all the elements of the result?

In [28]:
asia = df[df.origin == 'Asia']
asia = asia[['vehicle_weight','model_year']]
X = asia[:7].to_numpy()
matrix_mul = (X.T).dot(X)
matrix_mul_inv = np.linalg.inv(matrix_mul)
matrix_mul_inv

array([[ 5.71497081e-07, -8.34509443e-07],
       [-8.34509443e-07,  1.25380877e-06]])

In [27]:
y = np.array([1100, 1300, 800, 900, 1000, 1100, 1200])

In [29]:
w = (matrix_mul_inv.dot(X.T)).dot(y)
w

array([0.01386421, 0.5049067 ])

In [30]:
w.sum()

np.float64(0.5187709081074007)