In [3]:
import os
import pandas as pd
import numpy as np

In [4]:
df = pd.read_csv('course_lead_scoring.csv')

In [5]:
df.head()

,lead_source,industry,number_of_courses_viewed,annual_income,employment_status,location,interaction_count,lead_score,converted
0,paid_ads,NaN,1,79450.0,unemployed,south_america,4,0.94,1
1,social_media,retail,1,46992.0,employed,south_america,1,0.80,0
2,events,healthcare,5,78796.0,unemployed,australia,3,0.69,1
3,paid_ads,retail,2,83843.0,NaN,australia,1,0.87,0
4,referral,education,3,85012.0,self_employed,europe,3,0.62,1

In [6]:
df.isnull().sum()

lead_source                 128
industry                    134
number_of_courses_viewed      0
annual_income               181
employment_status           100
location                     63
interaction_count             0
lead_score                    0
converted                     0
dtype: int64

In [7]:
df.dtypes

lead_source                  object
industry                     object
number_of_courses_viewed      int64
annual_income               float64
employment_status            object
location                     object
interaction_count             int64
lead_score                  float64
converted                     int64
dtype: object

In [8]:
categorical_columns = list(df.dtypes[df.dtypes == 'object'].index)
numerical_columns = list(df.dtypes[df.dtypes != 'object'].index)

In [9]:
for c in categorical_columns:
    df[c] = df[c].fillna('NA')

In [10]:
df

,lead_source,industry,number_of_courses_viewed,annual_income,employment_status,location,interaction_count,lead_score,converted
0,paid_ads,NA,1,79450.0,unemployed,south_america,4,0.94,1
1,social_media,retail,1,46992.0,employed,south_america,1,0.80,0
2,events,healthcare,5,78796.0,unemployed,australia,3,0.69,1
3,paid_ads,retail,2,83843.0,NA,australia,1,0.87,0
4,referral,education,3,85012.0,self_employed,europe,3,0.62,1
...,...,...,...,...,...,...,...,...,...
1457,referral,manufacturing,1,NaN,self_employed,north_america,4,0.53,1
1458,referral,technology,3,65259.0,student,europe,2,0.24,1
1459,paid_ads,technology,1,45688.0,student,north_america,3,0.02,1
1460,referral,NA,5,71016.0,self_employed,north_america,0,0.25,1
1461,organic_search,finance,3,92855.0,student,north_america,3,0.41,1

In [11]:
for n in numerical_columns:
    df[n] = df[n].fillna(0)

In [12]:
df

,lead_source,industry,number_of_courses_viewed,annual_income,employment_status,location,interaction_count,lead_score,converted
0,paid_ads,NA,1,79450.0,unemployed,south_america,4,0.94,1
1,social_media,retail,1,46992.0,employed,south_america,1,0.80,0
2,events,healthcare,5,78796.0,unemployed,australia,3,0.69,1
3,paid_ads,retail,2,83843.0,NA,australia,1,0.87,0
4,referral,education,3,85012.0,self_employed,europe,3,0.62,1
...,...,...,...,...,...,...,...,...,...
1457,referral,manufacturing,1,0.0,self_employed,north_america,4,0.53,1
1458,referral,technology,3,65259.0,student,europe,2,0.24,1
1459,paid_ads,technology,1,45688.0,student,north_america,3,0.02,1
1460,referral,NA,5,71016.0,self_employed,north_america,0,0.25,1
1461,organic_search,finance,3,92855.0,student,north_america,3,0.41,1

In [13]:
df.isnull().sum()

lead_source                 0
industry                    0
number_of_courses_viewed    0
annual_income               0
employment_status           0
location                    0
interaction_count           0
lead_score                  0
converted                   0
dtype: int64

# Question 1
What is the most frequent observation (mode) for the column industry?

* NA
* technology
* healthcare
* retail

Answ: retail

In [17]:
df.industry.value_counts()

industry
retail           203
finance          200
other            198
healthcare       187
education        187
technology       179
manufacturing    174
NA               134
Name: count, dtype: int64

In [20]:
industry_mode = df['industry'].mode()[0]
print("Q1 - Mode of 'industry':", industry_mode)

Q1 - Mode of 'industry': retail

# Question 2
Create the correlation matrix for the numerical features of your dataset. In a correlation matrix, you compute the correlation coefficient between every pair of features.

What are the two features that have the biggest correlation?

* interaction_count and lead_score
* number_of_courses_viewed and lead_score
* number_of_courses_viewed and interaction_count
* annual_income and interaction_count

Only consider the pairs above when answering this question.

ANSW: annual_income and interaction_count

In [21]:
corr = df[numerical_columns].corr()

In [22]:
corr

,number_of_courses_viewed,annual_income,interaction_count,lead_score,converted
number_of_courses_viewed,1.000000,0.009770,-0.023565,-0.004879,0.435914
annual_income,0.009770,1.000000,0.027036,0.015610,0.053131
interaction_count,-0.023565,0.027036,1.000000,0.009888,0.374573
lead_score,-0.004879,0.015610,0.009888,1.000000,0.193673
converted,0.435914,0.053131,0.374573,0.193673,1.000000

In [23]:
candidates = [
    ('interaction_count','lead_score'),
    ('number_of_courses_viewed','lead_score'),
    ('number_of_courses_viewed','interaction_count'),
    ('annual_income','interaction_count')
]

print("\nCandidate pair correlations:")
pair_corrs = {}
for a,b in candidates:
    val = corr.loc[a,b]
    pair_corrs[(a,b)] = val
    print(f"{a} and {b}: {val:.6f}")

# choose the pair with the largest absolute correlation
best_pair = max(pair_corrs.items(), key=lambda kv: abs(kv[1]))[0]
print("\nQ2 - best pair (largest absolute correlation):", best_pair)

Candidate pair correlations:
interaction_count and lead_score: 0.009888
number_of_courses_viewed and lead_score: -0.004879
number_of_courses_viewed and interaction_count: -0.023565
annual_income and interaction_count: 0.027036

Q2 - best pair (largest absolute correlation): ('annual_income', 'interaction_count')

In [26]:
for a,b in candidates:
    val = df[a].corr(df[b])
    print(f"{a} and {b}: {val:.6f}")

interaction_count and lead_score: 0.009888
number_of_courses_viewed and lead_score: -0.004879
number_of_courses_viewed and interaction_count: -0.023565
annual_income and interaction_count: 0.027036

# Split the data

In [28]:
from sklearn.model_selection import train_test_split

In [31]:
df_model = df.copy()
train_val, test = train_test_split(df_model, test_size=0.2, random_state=42, stratify=df_model['converted'])
train, val = train_test_split(train_val, test_size=0.25, random_state=42, stratify=train_val['converted'])  # 0.25 * 0.8 = 0.2

print("Shapes -> train:", train.shape, "val:", val.shape, "test:", test.shape)

X_train = train.drop(columns=['converted']).reset_index(drop=True)
y_train = train['converted'].reset_index(drop=True)
X_val = val.drop(columns=['converted']).reset_index(drop=True)
y_val = val['converted'].reset_index(drop=True)
X_test = test.drop(columns=['converted']).reset_index(drop=True)
y_test = test['converted'].reset_index(drop=True)

Shapes -> train: (876, 9) val: (293, 9) test: (293, 9)

# Question 3
* Calculate the mutual information score between converted and other categorical variables in the dataset. Use the training set only.
* Round the scores to 2 decimals using round(score, 2).



Which of these variables has the biggest mutual information score?

* industry
* location
* lead_source
* employment_status

ANSW: lead_source

In [39]:
from sklearn.metrics import mutual_info_score

In [35]:
def mutual_info_churn_score(series):
    return round(mutual_info_score(series, train.converted), 2)

In [36]:
mi = train[categorical_columns].apply(mutual_info_churn_score)
mi.sort_values(ascending=False)

lead_source          0.03
industry             0.01
employment_status    0.01
location             0.00
dtype: float64

In [38]:
mi_scores = {}
for c in categorical_columns:
    mi = mutual_info_score(y_train, X_train[c])
    mi_scores[c] = round(mi, 2)

mi_sorted = sorted(mi_scores.items(), key=lambda kv: kv[1], reverse=True)
print("Mutual information scores (rounded to 2 decimals):")
for k,v in mi_sorted:
    print(k, "->", v)

print("\nQ3 - variable with biggest MI:", mi_sorted[0][0])

Mutual information scores (rounded to 2 decimals):
lead_source -> 0.03
industry -> 0.01
employment_status -> 0.01
location -> 0.0

Q3 - variable with biggest MI: lead_source

# Question 4
* Now let's train a logistic regression.
* Remember that we have several categorical variables in the dataset. Include them using one-hot encoding.
* Fit the model on the training dataset.
* * To make sure the results are reproducible across different versions of Scikit-Learn, fit the model with these parameters:
* * model = LogisticRegression(solver='liblinear', C=1.0, max_iter=1000, random_state=42)
* Calculate the accuracy on the validation dataset and round it to 2 decimal digits.

What accuracy did you get?

* 0.64
* 0.74
* 0.84
* 0.94

ANSW: 0.74

In [41]:
from sklearn.feature_extraction import DictVectorizer

dv = DictVectorizer(sparse=False)
train_dict = train[categorical_columns + numerical_columns].to_dict(orient='records')
X_train = dv.fit_transform(train_dict)

val_dict = val[categorical_columns + numerical_columns].to_dict(orient='records')
X_val = dv.transform(val_dict)

In [42]:
from sklearn.linear_model import LogisticRegression

In [43]:
model = LogisticRegression(solver='liblinear', C=1.0, max_iter=1000, random_state=42)

In [44]:
model.fit(X_train, y_train)

LogisticRegression(max_iter=1000, random_state=42, solver='liblinear')

In [46]:
y_pred = model.predict_proba(X_val)[:, 1]

converted_decision = (y_pred >= 0.5)

round((y_val == converted_decision).mean(), 2)

0.79

In [49]:
from sklearn.metrics import accuracy_score


X_train = train.drop(columns=['converted']).reset_index(drop=True)
y_train = train['converted'].reset_index(drop=True)

X_val = val.drop(columns=['converted']).reset_index(drop=True)
y_val = val['converted'].reset_index(drop=True)

X_test = test.drop(columns=['converted']).reset_index(drop=True)
y_test = test['converted'].reset_index(drop=True)


# Cell 6: prepare features (one-hot encode categorical features)
def prepare_features(df_input, drop_cols=None):
    df_temp = df_input.copy()
    if drop_cols:
        df_temp = df_temp.drop(columns=drop_cols)
    cats = df_temp.select_dtypes(include=['object']).columns.tolist()
    df_ohe = pd.get_dummies(df_temp, columns=cats, dummy_na=False)
    return df_ohe

# Prepare train/val matrices
X_train_ohe = prepare_features(X_train)
X_val_ohe = prepare_features(X_val)
# align columns
X_train_ohe, X_val_ohe = X_train_ohe.align(X_val_ohe, join='left', axis=1, fill_value=0)

# Q4: train logistic regression with given params and compute validation accuracy (rounded to 2 decimals)
model = LogisticRegression(solver='liblinear', C=1.0, max_iter=1000, random_state=42)
model.fit(X_train_ohe, y_train)
val_pred = model.predict(X_val_ohe)
val_acc = round(accuracy_score(y_val, val_pred), 2)
print("Q4 - Validation accuracy (rounded to 2 decimals):", val_acc)

Q4 - Validation accuracy (rounded to 2 decimals): 0.73

# Question 5
* Let's find the least useful feature using the feature elimination technique.
* Train a model using the same features and parameters as in Q4 (without rounding).
* Now exclude each feature from this set and train a model without it. Record the accuracy for each model.
* For each feature, calculate the difference between the original accuracy and the accuracy without the feature.

Which of following feature has the smallest difference?

* 'industry'
* 'employment_status'
* 'lead_score'

Note: The difference doesn't have to be positive.

ANSW: employment_status

In [54]:
def train_selected_features(features):

    dv = DictVectorizer(sparse=False)
    train_dict = train[features].to_dict(orient='records')
    X_train = dv.fit_transform(train_dict)

    val_dict = val[features].to_dict(orient='records')
    X_val = dv.transform(val_dict)
    model = LogisticRegression(solver='liblinear', C=1.0, max_iter=1000, random_state=42)
    model.fit(X_train, y_train)
    y_pred = model.predict_proba(X_val)[:, 1]

    converted_decision = (y_pred >= 0.5)

    return (y_val == converted_decision).mean()

In [56]:
features = categorical_columns + numerical_columns
baseline = train_selected_features(features)
print(baseline)

0.78839590443686

In [58]:
candidates = ['industry','employment_status','lead_score']

for c in candidates:
    new_features = [f for f in features if f!=c]
    acc = train_selected_features(new_features)
    print(f"For category {c} the difference of accuracy with the baseline is {-acc + baseline}")

For category industry the difference of accuracy with the baseline is 0.0
For category employment_status the difference of accuracy with the baseline is -0.010238907849829393
For category lead_score the difference of accuracy with the baseline is -0.0034129692832765013

In [60]:
# Cell 7: Feature elimination (fixed)
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

# Ensure DataFrames
X_train = train.drop(columns=['converted']).reset_index(drop=True)
X_val = val.drop(columns=['converted']).reset_index(drop=True)

# Baseline model
orig_model = LogisticRegression(solver='liblinear', C=1.0, max_iter=1000, random_state=42)
orig_model.fit(X_train_ohe, y_train)
orig_val_acc = accuracy_score(y_val, orig_model.predict(X_val_ohe))
print("Baseline validation accuracy (not rounded):", orig_val_acc)

features_to_test = ['industry', 'employment_status', 'lead_score']
acc_without = {}
diffs = {}

for feat in features_to_test:
    Xtr = prepare_features(X_train, drop_cols=[feat])
    Xva = prepare_features(X_val, drop_cols=[feat])
    Xtr, Xva = Xtr.align(Xva, join='left', axis=1, fill_value=0)
    m = LogisticRegression(solver='liblinear', C=1.0, max_iter=1000, random_state=42)
    m.fit(Xtr, y_train)
    acc = accuracy_score(y_val, m.predict(Xva))
    acc_without[feat] = acc
    diffs[feat] = orig_val_acc - acc
    print(f"Removed {feat}: val acc = {acc:.6f}, diff (orig - without) = {diffs[feat]:.6f}")

least_useful = min(diffs.items(), key=lambda kv: abs(kv[1]))[0]
print("\nQ5 - least useful feature (smallest absolute difference):", least_useful)

Baseline validation accuracy (not rounded): 0.7303754266211604
Removed industry: val acc = 0.730375, diff (orig - without) = 0.000000
Removed employment_status: val acc = 0.733788, diff (orig - without) = -0.003413
Removed lead_score: val acc = 0.730375, diff (orig - without) = 0.000000

Q5 - least useful feature (smallest absolute difference): industry

# Question 6
* Now let's train a regularized logistic regression.
* Let's try the following values of the parameter C: [0.01, 0.1, 1, 10, 100].
* Train models using all the features as in Q4.
* Calculate the accuracy on the validation dataset and round it to 3 decimal digits.

Which of these C leads to the best accuracy on the validation set?

* 0.01
* 0.1
* 1
* 10
* 100

Note: If there are multiple options, select the smallest C.

ANSW: 0.01

In [62]:
def train_selected_features(features, C=1.0):

    dv = DictVectorizer(sparse=False)
    train_dict = train[features].to_dict(orient='records')
    X_train = dv.fit_transform(train_dict)

    val_dict = val[features].to_dict(orient='records')
    X_val = dv.transform(val_dict)
    model = LogisticRegression(solver='liblinear', C=C, max_iter=1000, random_state=42)
    model.fit(X_train, y_train)
    y_pred = model.predict_proba(X_val)[:, 1]

    converted_decision = (y_pred >= 0.5)

    return round((y_val == converted_decision).mean(),3)

In [63]:
C = [0.01, 0.1, 1, 10, 100]
features = categorical_columns + numerical_columns


for c in C:
    acc = train_selected_features(features, c)
    print(f"for {c} the accuracy is {acc}")

for 0.01 the accuracy is 0.792
for 0.1 the accuracy is 0.792
for 1 the accuracy is 0.788
for 10 the accuracy is 0.788
for 100 the accuracy is 0.788

In [64]:
# Cell 8: regularized logistic regression with different C values
Cs = [0.01, 0.1, 1, 10, 100]
accs_by_C = {}
for C in Cs:
    m = LogisticRegression(solver='liblinear', C=C, max_iter=1000, random_state=42)
    m.fit(X_train_ohe, y_train)
    accs_by_C[C] = round(accuracy_score(y_val, m.predict(X_val_ohe)), 3)

print("Validation accuracy by C (rounded to 3 decimals):")
for C,v in accs_by_C.items():
    print(f"C={C} -> accuracy={v}")

# Best C: if multiple equal, select smallest C among them
best_acc = max(accs_by_C.values())
best_Cs = [C for C,v in accs_by_C.items() if v == best_acc]
best_C = min(best_Cs)
print("\nQ6 - best C (smallest among ties):", best_C, "with accuracy", best_acc)

Validation accuracy by C (rounded to 3 decimals):
C=0.01 -> accuracy=0.734
C=0.1 -> accuracy=0.73
C=1 -> accuracy=0.73
C=10 -> accuracy=0.73
C=100 -> accuracy=0.73

Q6 - best C (smallest among ties): 0.01 with accuracy 0.734